{% extends 'base.html' %}
{% block content%}
<h1>Wedding Details</h1>

<div>
  <div>
    <p>Bride Name: {{client.bride_name}}</p>
    <p>Groom Name: {{client.groom_name}}</p>
    <p>Bride age: {{client.bride_age}}</p>
    <p>Groom age: {{client.groom_age}}</p>
    <p> {{client.wedding_date}}</p>
    <p>Location: {{client.location}}</p>
    <p>Guests Number: {{client.guests}}</p>
  
   <a href="{% url 'clients_update' client.id %}">Edit</a>
   <a href="{% url 'clients_delete' client.id %}">Delete</a>
  </div>

  <hr>

  <div class="my-photographer">
    <h2>My Photographers</h2>
    {% if photographers %}
        {% for photographer in photographers %}
            <div>
                
                <p>Photographer name: {{photographer.name}}</p>
               
                </form>
            </div>
        {% endfor %}
    {% else %}
        <h3>No photographer arranged</h3>
    {% endif %}
</div>

<hr>

<div class="all-photographers">
  <h2>All photographer</h2>
  {% if messages %}
  {% for message in messages %}
      <div class="alert alert-success" role="alert">
          {{ message }}
      </div>
  {% endfor %}
  {% endif %}   

  {% if all_photographers %}
      {% for photographer in all_photographers %}
          <div>
              <p>Photographer name: {{photographer.name}}</p>
             
              <form action="{% url 'send_message' photographer.id client.id %}" method="POST">
                {% csrf_token %}
                <textarea name="content"></textarea>
                <button type="submit" >Send Message</button>
              </form>

          </div>
      {% endfor %}
  {% else %}
      <h3>No more weddings available</h3>
  {% endif %}
</div>
</div>



{% endblock %}