{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  

  {% for client in client_list %}
  <div style="max-width: 75%; margin: 0 auto;" class="mb-3">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ client.bride_name }} & {{ client.groom_name }}</h5>
          <p class="card-text">Wedding Date: {{ client.wedding_date }}</p>
          <a href="{% url 'clients_details' client.id %}" class="text-link">View Details</a>

        </div>
      </div>
    </div>
  {% endfor %}

</div>
{% endblock %}
