{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h1>Delete Photographer</h1>
      <h4 class="mb-4">Are you sure you want to delete the photographer <span>{{ object.name }}</span>?</h4>

      <form action="" method="POST" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes - Delete!</button>
      </form>
      <a href="{% url 'photographers_details' object.id %}" class="btn btn-secondary ms-2">Cancel</a>
    </div>
  </div>
</div>
{% endblock %}
