{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h1 class="text-center">Photographer Details</h1>

  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">{{ photographer.name }}</h5>
      <p class="card-text">Area of expertise: {{ photographer.get_area_of_expertise_display }}</p>
      <p class="card-text">Description: {{ photographer.description }}</p>
    </div>
    {% if not is_client %}
      <div class="card-footer">
        <a href="{% url 'photographers_update' photographer.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'photographers_delete' photographer.id %}" class="btn btn-danger">Delete</a>
      </div>
      {% endif %}
  </div>

  <div class="container mt-5">      
    <div class="photo-gallery row mb-4">
      <!-- Photos will be added here -->
      {% for photo in photographer.photo_set.all %}
      <div class="col-md-6 mb-3">
        <img src="{{ photo.url }}" class="img-fluid photo-thumbnail" alt="Photo">
      </div>
    {% empty %}
      <div class="alert alert-info">No Photos Uploaded</div>
    {% endfor %}
    </div>
  
    <div class="photo-upload-form bg-light border p-4">
      <h3 class="mb-3">Upload a Photo</h3>
      <form action="{% url 'add_photo' photographer.id %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <input type="file" name="photo-file" class="form-control" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Upload Photo</button>
      </form>
    </div>
  </div>
  

{% if not is_client %}
<hr>
  <!-- My Clients Section -->
  <div class="my-clients">
    <h2 class="text-center mb-4">My Clients</h2>
    {% if clients %}
      <div class="row">
        {% for client in clients %}
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{ client.bride_name }} & {{ client.groom_name }}</h5>
                <p class="card-text">Wedding Date: {{ client.wedding_date }}</p>
                {% for message in messages %}
                {% if message.sender == client %}
                  <p class="small"><em>{{ message.content }} - {{ message.timestamp }}</em></p>
                {% endif %}
              {% endfor %}

              </div>
          
                <div class="card-footer">
                  <form action="{% url 'unassoc_client' photographer.id client.id  %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning btn-sm">Remove</button>
                    <button type="submit" class="btn btn-warning btn-sm">Album Coming</button>
                  </form>
                  
                </div>
            
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="text-center">No weddings</p>
    {% endif %}
  </div>

  <hr>

  <!-- Available Clients Section -->

    <div class="available-clients mt-4">
      <h2 class="text-center mb-4">Available Clients</h2>
      {% if all_clients %}
        <div class="row">
          {% for client in all_clients %}
            <div class="col-md-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">{{ client.bride_name }} & {{ client.groom_name }}</h5>
                  <p class="card-text">Wedding Date: {{ client.wedding_date }}</p>
                  {% for message in messages %}
                    {% if message.sender == client %}
                      <p class="small"><em>{{ message.content }} - {{ message.timestamp }}</em></p>
                    {% endif %}
                  {% endfor %}
                </div>
               
                  <div class="card-footer">
                    <form action="{% url 'assoc_client' photographer.id client.id %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-success btn-sm">Add</button>
                    </form>
                  </div>
                
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p class="text-center">No more weddings available</p>
      {% endif %}
    </div>
 {% endif %}
</div>

{% endblock %}
