{% extends 'base.html' %}

{% block content %}
  <h1>Client Login</h1>
  {% if messages %}
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
  {% endif %}

  <form action="{% url 'login_client' %}" method="POST">
    {% csrf_token %}
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
    </div>
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn">Client Log In</button>
  </form>
 
{% endblock %}
  