{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
  <h1 class="display-2 text-center mb-5">BEST WEDDING PHOTOGRAPHERS MELBOURNE</h1>
  <h2 class="text-center text-uppercase fw-light mb-4">Capture your wedding day with the wedding photography experts</h2>
  <blockquote class="blockquote text-center mb-5">
    <p class="mb-0"><i>"Happiness and confidence are the prettiest things you can wear on your wedding day."</i></p>
  </blockquote>
  
  <p class="lead">
    Your wedding day is one of the most memorable and special days in your life, which is why when choosing a Melbourne wedding photographer or cinematographer, you want to be confident that your cherished memories are being captured by the best wedding photographers and most professional videographers in Melbourne. DreamPhotography Wedding is extremely honoured to be considered one of Melbourne's best wedding photography and cinematography companies offering highly skilled and extremely talented wedding photographers in Melbourne, Mornington, Geelong and Ballarat. Our photographers blend art and skill to capture every moment as it unfolds to provide you with wedding images to cherish.
  </p>

  <p class="lead">
    With years of extensive knowledge, DreamPhotography is known within the wedding industry for providing exacting service that goes above and beyond and as such we have developed close relationships with many of Melbourne's most desirable and popular wedding venues. Our wedding photographers know the hidden nooks and crannies and the most popular wedding photo locations at Lakeside Event Centre, Ballara Reception, Ascot House, Luxor Reception, Sails on the Bay, White Chapel, Bram Leigh, Showtime Events, Leonda by the Yarra, Crown Melbourne, Park Hyatt, Grand Hyatt and Encore St Kilda. We can also show you some hidden natural gems if you want that perfect natural background or garden location.
  </p>

  <h2 class="text-center text-uppercase fw-light mb-4">WEDDING VIDEOGRAPHY & CINEMATOGRAPHY MELBOURNE</h2>

  <p class="lead mb-4">
    You can be confident when booking your wedding photography and cinematography with DreamPhotography Wedding Sydney that you are in control from the beginning. Our award-winning wedding photographers and cinematographers will work with you to feel at ease in front of the camera, whether it is for those important traditional moments, you wish to capture or the candid images that bring a smile to your lips when you see them later.
  </p>

  <p class="mb-4">
    Outstanding professional wedding photography and cinematography is the perfect way to encapsulate all the beautiful, fleeting, and delicate moments and emotions of your wedding day. Wedding photos weave a visual story of the love and union of two people and two families and provide a lasting record of your special day.
  </p>

  <p class="mb-4">
    DreamPhotography Photos & Video (Melbourne) will capture all those special moments with a tailored approach to suit both the location and the style requirements of the couple.
  </p>

  <p class="fw-bold mb-4">We offer dynamic storytelling at its best!</p>

  <h4 class="fw-bold mb-4">Your Wedding Photographs, Your Style</h4>

  <p class="lead mb-4">
    Your wedding photos should reflect your style and personality. Therefore, we always recommend that you browse the portfolios of various wedding photography companies and choose the style that captures your imagination and your attention.
  </p>

  <p class="mb-4">
    DreamPhotography Photos & Video (Melbourne) has a creative, innovative, and versatile team of wedding photographers and cinematographers who provide a conscientious and tailored approach to each wedding based on the couples' style preferences and particular requirements.
  </p>

  <p class="lead mb-4">
    Choose from one of our wedding photography and cinematography packages or find out about a more tailored approach to suit your needs. We are renowned for our high-end and professional wedding photos. We are also a multi-award-winning business voted one of Australia's Top 10 wedding photography companies.
  </p>

  <p class="fw-bold">We have offices in Melboure CBD</p>

  <p class="mb-4"><strong>Melbourne:</strong><br>
  03-6669 6669
  </p>
</div>
{% endblock %}
