body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1 0 auto;
}

.page-footer{
  padding-top: 0;
  text-align: center;
}

.card-wrapper {
  max-width: 75%; /* Adjust this value as needed */
  margin: 0 auto; /* Centers the card */
}

@media (max-width: 768px) {
  .card-wrapper {
      max-width: 100%;
  }
}



