body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1 0 auto;
}

.page-footer{
  padding-top: 0;
  text-align: center;
}

/* .card-wrapper {
    max-width: 75%; 
    margin: 0 auto; 
} */

@media (max-width: 768px) {
    .card-wrapper {
        max-width: 100%;
    }
}



