body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
}

main{
  flex: 1 0 auto;
}

.page-footer{
  padding-top: 0;
  text-align: center;
}

.note-style {
  background-color: #cee6ab; /* Light yellow background */
  border-radius: 5px; /* Rounded corners */
}


@media (max-width: 768px) {
    .card-wrapper {
        max-width: 100%;
    }
}



