{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">{{client.bride_name}} & {{client.groom_name}}'s Wedding Photos</h1>
    
    <div class="row mb-4">
        {% for photo in photos %}
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <img src="{{ photo.url }}" class="card-img-top img-fluid" alt="Wedding Photo">
                    <div class="card-body">
                        <p class="card-text text-muted text-center">Uploaded by: {{ photo.photographer.name }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <div class="alert alert-info">No Photos Uploaded</div>
            </div>
        {% endfor %}
    </div>

   
</div>
{% endblock %}
